body {
  padding-top: 50px;
}
.site-basic {
  padding: 40px 15px;
  text-align: center;
  color: white;
  background-image: url(/images/banner2.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}
